.wrapper-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.9;
  z-index: 2;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-image: url("https://ra-dev.mobica.vn/images/bg-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-page .cls-header {
  width: 100%;
  height: 18vh;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
}

.wrapper-page .cls-content {
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.wrapper-page .cls-content .wrapper-form-login {
  margin-top: 30px;
  width: 25%;
  height: auto;
  min-width: 350px;
  max-width: 500px;
  max-height: 600px;
  background-color: white;
  padding: 30px 20px;
}

.wrapper-page .cls-content .wrapper-form-login .pad-btm {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.wrapper-page .cls-content .wrapper-form-login #formLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;
}

.wrapper-page .cls-content .wrapper-form-login #formLogin .input-group-text {
  background-color: white;
}

.wrapper-page .cls-content .wrapper-form-login #formLogin .btn.btn-success {
  margin-top: 20px;
}

.wrapper-paper {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #00ffa0;
}
